@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/komika-axis');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --primaryColor: #910094;
    --secondaryColor: #003C31;
    --font-family: 'Komika Axis', sans-serif;
    --another-font: 'Poppins' ,  sans-serif;

}
::selection{
    background-color: var(--secondaryColor);
    color: #fff;
}
.banner {
    width: 100%;
    height: 100vh;
    background: url(image/Lets-cooks.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(89.74deg, rgba(255, 183, 197, 0.8000000119) 1.71%, rgba(217, 217, 217, 0) 99.74%);    opacity: 0.7;
    pointer-events: none;
    z-index: -1;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    position: relative;

}

.navigation {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo {
    width: 235px;
    height: auto;
    z-index: 11;
    transform: translateY(8.5px);
    position: relative;
    cursor: pointer;
}

.flower {
    width: 25px;
    height: auto;
    position: absolute;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
    z-index: 10;
}

@keyframes fall {
    to {
        opacity: 0;
        transform: translateY(calc(100vh + 30px));
    }
}
.navigation li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    transition: all .6s ease;
}


.navigation li a {
    font-family: 'Poppions' sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 10px #00000089;
    color: var(--primaryColor);
    position: relative;
}
.navigation li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    background-color: var(--primaryColor);
    top: 100%;
    left: 0px;
    transition: all 0.3s ease;
}
.navigation li a:hover::after{
    width: 100%;
}
.flower-nav:hover::after{
    height:  0% !important;
    width: 0;
    display: none;
    background-color: transparent !important;
}
.flower-nav:hover{
    color: var(--primaryColor)!important;
        text-shadow: 2px 2px 10px var(--primaryColor);

}
.flower-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    transition: all 0.3s ease;
    transition: color 0.2s ease;
    
}
.flower1 {
    width: 30px;
    height: auto;
    left: 100%;
    transition: all 0.3s ease;
    



/* 
    top: 0;
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 1;
    z-index: 10; */
}
.flower-nav:hover .flower1{
    transform: translateX(90px);

}

.active{
    color: var(--secondaryColor) !important;
    font-weight: bold;
}
.active::after{
    background-color: var(--secondaryColor) !important;

}

main{
    padding: 0 70px;
    display: flex;
    align-items: center;
    height:90.4109589041vh;
    z-index: 4;
}
.banner-h1,
.hero-page p,
.book {
    position: relative; 
    z-index: 1;
}
.banner-h1 {
    font-family: 'Komika Axis', sans-serif;
    font-size: 50px;
    color: var(--primaryColor);


}
.hero-page p{
    padding: 28px 0 0 0;
    width: 620px;
    line-height: 35px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}
.book{
    height: 55px;
    width: 200px;
    margin-top: 22px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    background-color: var(--primaryColor);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}
.book::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    z-index: -1;
}
.book:hover::before{
    transform: scale(1.4);
    opacity: 0;
}

.book::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right:-21px;
    top:-20px;
    background: url(image/nav-flower.png) no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    animation: Rotate 2s linear infinite;
}
@keyframes Rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);}
}


/* another section after banner */
.box-after-banner{
    /* display: none !important; */
    font-family: 'Poppins', sans-serif;
    padding:  0 70px;
    display: flex;
    justify-content: space-between;
}
.box-after-banner-main{
    width: 288px;
    height: 266px;
    background-color: #9D9898;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.25s ease-in;
    cursor: pointer;

}
.box-after-banner1{
    position: relative;

}
.box-after-banner1::before,
.box-after-banner3::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--primaryColor);
    transition: all 0.4s ease-out;
}
.box-after-banner-main:hover .after-banner-logo {
    transform: scale(1.4);
}

.logo-after-banner{
    flex: 0.9;
    justify-self: center;
    align-self: center;
    width: 80px;
    height: 71px;
    padding-top: 30px;

    /* margin: auto; */
}
.after-banner-logo{
    width: 80px;
    height: 71px;
    transition: all 0.2s ease-in;

}
.text-content-after-banner{
    flex: 1.1;
}
.main-text-after-banner{
    font-size: 17px;
    font-weight: 600;
    color: var(--secondaryColor);
}
.sub-text-after-banner{
    font-size: 13px;
    letter-spacing: -5%;
    padding:  20px;

}
/* 2nd box */
.box-after-banner2::after,
.box-after-banner4::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--secondaryColor);
}

/* about start here */
#about{
    padding: 0 72px;
    display: flex;
    justify-content: start;
    gap: 70px;
    transform: translateY(-30px);
}
.about-image-main{
    flex: 0.45;

}
.about-image{
    width: 370px;
    height: 351px;
    background-color: #000;
border-top-right-radius: 60px;
border-bottom-left-radius: 70px;
    background: url(image/about-first.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.about-image::before{
    content: '';
    position: absolute;
    width: 113px;
    height: 100px;
    right: -130px;
    top: 50px;
    background: url(image/flower.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-image::after{
    content: '';
    position: absolute;
    width: 304px;
    height: 258px;
    right: -100px;
    bottom:-130px ;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 30px;
    background: url(image/about-second.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:brightness(10%);
}
.about-image::after {
    background: linear-gradient(rgba(149, 71, 84, 0.253), rgba(116, 49, 60, 0.2)), url(image/about-second.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 30px;
    position: absolute;
    content: '';
    width: 304px;
    height: 258px;
    right: -100px;
    bottom: -130px;
    backdrop-filter: brightness(10%);
}
.about-text{
    flex: 0.65;

}
.about-text h1{
    font-family: 'Komika Axis', sans-serif;
    font-size: 40px;
    text-align: start;
    position: relative;
}
span{
    color: var(--primaryColor);
}
.about-text h1::after{
    content: '';
    width:10% ;
    height: 4px;
    position: absolute;
    background-color: var(--primaryColor);
    top: 55%;
    left: 80%;
}
.about-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: end;
    right: 0;
    font-family: 300;
    color: var(--secondaryColor);
}
.about-text >p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.read-more{
    width: 164px;
    height: 49px;
    border-radius: 63px;
    background-color: var(--secondaryColor);
    border: none;
    color: #fff;
    word-spacing: 3px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    box-shadow: 4px 4px 4px #000;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

    .read-more::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 63px;
        background-color: var(--secondaryColor);
        top: 0;
        left: 0;
        transition: all 0.2s ease;
        z-index: -1;
    }
    .read-more:hover::before{
        transform: scale(1.4);
        opacity: 0;
    }
.read-more:hover{
    word-spacing: 4px;
    box-shadow: 4px 4px 4px var(--primaryColor);

}
.side-branch{
    display: inline;transform: translateX(100%);
}
.small-section{
    width: 100%;
    height: 320px;
    margin-top: 40px;
    background: url(image/small-section.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35x;
    position: relative;
    z-index: 0;
   
}
.small-section::after{
    content: '';
    width:  100%;height: 100%;
    position: absolute;
    background-color: rgba(49, 45, 45, 0.77);
    z-index:  -1;
    pointer-events: none;

}
.small-section h1{
 font-family: 'Poppins' , sans-serif;
 font-size: 27px;
 color: #fff;
}
/* testimonials */
.testimonials{
    width: 100%;
    text-align: center;
    padding: 30px 140px;

}
.heading{
    font-family: var(--font-family);
    font-size: 40px;
    color: var(--primaryColor);
    position: relative;
}
.sub-heading{
    font-family: var(--another-font);
    font-size: 22px;
}
.heading::before,
.heading::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    /* height: auto; */
    /* background-color: var(--primaryColor); */
    background-image: url(image/nav-flower.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 29%;
    /* animation: Rotate 2s linear infinite; */

}
.heading::after{
right: 64%;}
.heading::before{
left: 64%;}
.reviews{
    display: flex;
   align-items: center;
    justify-content: space-between;
    /* max-width: 980px; */
    margin-top: 90px;

}
.reviews-box{
    display: grid;
    grid-template-rows:33% , 66%;
    /* width: 30%; */
    background-color: #D9D9D9;
    cursor: pointer;
transition: transform 0.2s ease;
}
.reviews-box:hover{
}
.reviews-1{
    /* width: 100%; */
    height: 290px;
    transition: all 0.3s ease;
}

    

.reviews-3{
    /* width: 100%; */
    height: 290px;
}
.main{
    width: 30%;
    height: 340px;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 160px;
    position: relative;
    
}
.main::after{
    content: '';
    position: absolute;
    width: 102%;
    height: 104%;
    background-color: var(--primaryColor);
    right: -12px;
    bottom: -16px;
    transform: rotate(4deg);
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 160px;
    z-index: -1;
}
.main::before{
    content: '';
    position: absolute;
    width: 78px;
    height: 78px;
    background: url(image/bebe-rexha.jpg) ;
    background-position: center;
    background-size: cover;
    border: 1px var(--secondaryColor) solid;
    right: 38%;
    top: -10%;
    /* transform: rotate(4deg); */
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;
    
}
.main:hover::before {
    /* width: 85px;
    height: 85px;
    border: 2px var(--primaryColor) solid; */
    transform: scale(1.2);
}
.reviews-1{
    width: 27%;
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 150px;
    position: relative;

}
.reviews-1::after{
    content: '';
    position: absolute;
    width: 107%;
    height: 95%;
    background-color: var(--secondaryColor);
    right: -10px;
    bottom: 3px;
    transform: rotate(6deg);
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 150px;
    z-index: -1;
}
.reviews-1::before{
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    background: url(image/dua-lipa.jpg) ;
    background-position: center;
    background-size: cover;
    border: 1px var(--primaryColor) solid;
    right: 40%;
    top: -10%;
    /* transform: rotate(4deg); */
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;

}
.reviews-1:hover::before {
    transform: scale(1.2);

}

.reviews-3{
    width: 27%;
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 50px;
    position: relative;

}
.reviews-3::after{
    content: '';
    position: absolute;
    width: 102%;
    height: 104%;
    background-color: var(--secondaryColor);
    right: 4px;
    bottom: -9px;
    transform: rotate(5deg);
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 50px;
    z-index: -1;
}
.reviews-3::before{
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    background: url(image/annie-marie.jpg) ;
    background-position: center;
    background-size: cover;
    border: 1px var(--primaryColor) solid;
    right: 36%;
    top: -10%;
    transform: rotate(4deg);
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;
}
.reviews-3:hover::before {
    transform: scale(1.2);

}
.first-row-review{
    padding-top: 55px;
    text-align: center;

}
.first-row-review-main{
    padding-top: 65px;
    text-align: center;

}
.name-of-review{
    font-family: var(--another-font);
    font-size: 20px;
    font-weight: 900;
}
.name-of-review-18{
    font-weight: 900;
    font-family: var(--another-font);
    font-size: 18px;
}
.review-profession{
    font-family: var(--another-font);
    font-size: 10px;
}
.review-profession-8{
    font-family: var(--another-font);
    font-size: 10px;
}
.quotation{
    font-family: 'Rubik Moonrocks', sans-serif;
    font-size: 25px;
    color: var(--secondaryColor);
}
.quotation-main{ 
    font-family: 'Rubik Moonrocks', sans-serif;
    font-size: 25px;
      color: var(--primaryColor);

}
.actual-review-main{
    padding: 20px 45px;
    overflow: hidden;
    font-family: var(--another-font);
    font-size: 14px;
    font-weight: 500;
}
.actual-review-1{
    padding: 10px 50px 20px 37px;
    overflow: hidden;
    font-family: var(--another-font);
    font-size: 13px;
}
.actual-review-3{
    padding: 10px 37px 20px 50px;
    overflow: hidden;
    font-family: var(--another-font);
    font-size: 13px;
}